<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.service.wallpaper.WallpaperService" />
        </intent>
    </queries>

    <application>
        <service
            android:name="com.aetherx.livewallpaper.AetherXVideoWallpaperService"
            android:exported="true"
            android:label="AetherX Live Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/aetherx_wallpaper" />
        </service>
    </application>
</manifest>