<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="false" />

    <application>
        <service
            android:name=".AetherXVideoWallpaperService"
            android:exported="true"
            android:label="AetherX Live Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/aetherx_wallpaper" />
        </service>
    </application>
</manifest>